.input-login {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.login-container {
    margin-top: 5rem;
    background-color: #ffffff;
    padding: 5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 10px 25px rgba(0, 0, 0, 0.22);
}
.login-title{

}

.btn-login{
    width: 100%;
}